<!DOCTYPE html>
<html>

  <head>
    <title>Spotify - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
  </head>

  <body>
    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
 
        <form action="/data" method = "POST">
          <p>Artist Name <input type = "text" name = "artist" /></p>
          <p>Song Name <input type = "text" name = "track" /></p>
          <p><input type = "submit" value = "Submit" /></p>
      </form>

      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
    <img src="https://scontent.fccu3-1.fna.fbcdn.net/v/t1.6435-9/109806545_105358804602470_4589258645886499830_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=8mEupNDyzakAX8j6bnW&_nc_ht=scontent.fccu3-1.fna&oh=482232a18906046e9f7ddd8c66482730&oe=61BB4A38" width="100%" height="50%">
  </body>

</html>